/*nav*/
.navbar {
    font-family: edita, serif;
    font-weight: 700;
    font-style: normal;
}

.klogo {
    background-color: rgb(51, 127, 99, 0.6);
}

.tagline {
    display: inline-block;
    padding-left: 30px;
    color: #FFF4D5;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-brand img{
    width: 20%;
    height: auto;
}

/*jumbotron*/

.nav-item {
    padding-left: 15px;
    padding-right: 15px;
}

.nav-link {
    color: #DEDEDE !important;
    font-size: 20pt;
}

.jumbotron {
    background-image: url("../images/troub.png");
    background-size: cover;
    margin-top: -175px;
    height: 650px;
}

.knav {
    background-color: rgb(144, 55, 97, 0.75);
    margin-top: -88px;
    position: -webkit-sticky; /* Safari */
    position: sticky !important;
    top: 0;
    z-index: 50;
}

.navbar-toggler {
    margin-left: auto;
    border-color: #DEDEDE !important;
}

.modbut {
    font-family: edita, serif;
    font-weight: 700;
    font-style: normal;
    color: #DEDEDE !important;
    font-size: 20pt;
    cursor: pointer;
    padding-top: 8px; 
}

.active {
    color:  rgba(255, 255, 255, 0.5) !important;
}

.nav-item:hover {
    background-color: rgba(255, 255, 255) !important;
}

.nav-link:hover {
    color: rgba(144, 55, 97) !important;
}

.modbut:hover {
    color: rgba(144, 55, 97) !important;
}

/*Modal*/

.modal-title {
    font-family: edita, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20pt;
    color: #337f63;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 75px 75px 150px;
    grid-template-areas:
        "contact_name contact_email"
        "contact_company contact_phone"
        "contact_message contact_message"
}

.contact {
    padding: 5px 5px 15px 5px;
}

.contact h6 {
    font-family: whitman, serif;
    font-weight: bold;
    color: #903761 !important;
}

input {
    border: .5px solid #337f63;
    width: 95%;
}

.message {
    width: 200%;
    height: 100px;
}

/*Cards*/

.container {
    margin-top: 100px;
    margin-bottom: 50px;
}

.card-img-top {
    background-color: #FFFAEC;
}

.card {
    border: none !important;
}

.card-body {
    background-color: #FFF5DA;
}

.card-title {
    color:  #903761;
    font-family: edita, serif;
    font-size: 20pt;
    font-weight: bold;
}

.card-text {
    color: #337f63;
    font-family: whitman, serif;
    font-size: 12pt;
    font-weight: 500;
}

.btn-primary {
    background-color: #903761 !important;
    border-color: #903761 !important;
    font-family: edita, serif;
    font-size: 15pt !important;
    font-weight: bold !important;
}

.btn-primary:hover {
    background-color:  rgb(51, 127, 99) !important;
    border-color: rgb(51, 127, 99) !important;
}

/*Table*/

.skillz {
    text-align: center;
    color: #337f63;
    font-family: edita, serif;
    font-weight: bold;
    margin: 150px auto 50px;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.table {
    margin-left: 5%;
    margin-right: 5%;
    width: 90% !important;
}

.toprow {
    background-color: #FFFDF6;
    text-align: center;
    color: #337f63;
    font-family: edita, serif;
    font-weight: bold;
    font-size: 20pt;
}

.cell {
    font-family: whitman, serif;
    color: #903761;
    font-size: 12pt;
}

.mellowyellow {
    background-color: #FFFAEA;
}

.yellow {
    background-color: #FFF5D8;
}

/*Footer*/

.footer {
    background-color: #337f63;
    text-align: center;
    padding-top: 30px;
    margin-top: 50px;
}

.poem {
    display: inline-block;
}

footer p {
    font-family: edita, serif;
    font-size: 15pt;
    color: #DEDEDE; 
}

@media (min-width: 992px) {
    .knav {
        margin-top: -105px;
        padding: 0rem 0rem !important;
    }
    .card {
        -ms-flex-direction: row !important;
        flex-direction: row !important;
        height: 225px;
    }

    .card img {
        width: 225px;
    }
}

@media (min-width: 1200px) {
    .card {
        -ms-flex-direction: row !important;
        flex-direction: row !important;
        height: 250px;
    }
    
    .card img {
        width: 250px;
    }
}